body{
    background-position: center;
    background-size: cover;
    font-family: 'Neonderthaw', cursive;
    color:white;
}
#headinnnn{
font-family: 'Bungee Shade', cursive;
}
.header{
    width: 100%;
    margin: 0px;
    font-size:50px;
}
.input_class{
    margin: 5px;
    border-radius: 5px;
    width: 20%;
    color: rgb(0, 4, 128);
    background-color: rgb(255, 180, 252);
    border: 4px dotted rgb(133, 109, 255);
    font-family: 'Megrim', cursive !important;
}
.object_name_label{
    font-weight: bold;
    font-size: 30px;
}
canvas, input
  {
    border:5px solid black;
    border-radius:20px;
    animation-name: example;
    animation-duration: 4s;
    margin-top: 100px;
    animation-iteration-count:infinite;
   
}
@keyframes example {

  from {box-shadow: 1px 1px 38px rgb(0, 247, 255);}
  to {box-shadow: 1px 1px 38px rgb(193, 192, 255);}
}
p{
    color: white;
    margin-bottom: 0px;
    font-size: medium;
}
